* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
    background-color: #141414;
}

.container {
    background-color: #1f1f1f;
    width: 350px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    transform: translateY(25%);
}
@media (max-width: 767px) {
    .container {
        width: 280px;
        transform: translateY(30%)
    }
}

.container .image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    margin-bottom: 20px;
}
.container .text {
    text-align: center;
    color: white;
    margin-bottom: 15px;
}
.container .text p {
    color: #c5f82a;
    margin-top: 10px;
}
.container ul {
    text-align: center;
}
.container ul a {
    color: white;
    background-color: #333333;
    display: block;
    width: 300px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.1s;
}
@media (max-width: 767px) {
    .container ul a {
        width: 240px;
    }
}
.container ul a:hover {
    background-color: #c5f82a;
    color: #141414;
}
